body {
    margin: 20px;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #001d3d, 0 0 1em gold;
}

body: hover {
    text-shadow: 0 0 1em #001d3d;
}

.avatar {
    width: 150px;
    
    border: 2px solid #ffc300;
    border-radius: 30%;
    box-shadow: 1px 1px 2px #001d3d, 0 0 0.5em gold;
}

.avatar: hover {
    border: 2px solid #001d3d;
    box-shadow: 0 0 0.5em #001d3d;    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #003566;
    color: #ffd60a;
    border: 2px solid black;
    border-radius: 5%;
        
}

.card: hover {
    background: #ffd60a;
    color: #003566;
    border: 2px solid #ffc300;
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- shuffle the layout
- animations     🤯🤯🤯
*/

